{% extends "::base.html.twig" %}

{% block contenu %}
    <div class="well col-lg-8 col-lg-offset-2">
        <p>
            <p class="text-center">{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
        </p>
    </div>
{% endblock %}
