<div class="media profile-left">
    <a class="pull-left profile-thumb" href="profile.html">
        <img class="img-circle" src="{{ asset('theme/images/photos/profile.png') }}" alt="profile">
    </a>
    <div class="media-body">
        <h4 class="media-heading">{{ app.user.username }}</h4>
        <small class="text-muted">Développeur</small>
    </div>
</div>