<div class="modal fade" id="create-message">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title">Nouveau message</h4>
            </div>
            <div class="modal-body">
                <div  class="row">
                    {{ form_start(form, {'attr': {'class': 'ajout-message'}}) }}
                        {{ form_widget(form) }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="envoyer_message" class="btn btn-success">Envoyer</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">Fermer</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>