{% extends "::base.html.twig" %}

{% block contenu %}
    <div class="well col-lg-6 col-lg-offset-3">
        <p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
    </div>
{% endblock %}
